<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Collabo-Mapper">
	
	<select id="selectCollaboList" resultType="com.probada.collabo.vo.CollaboVO">
		SELECT
			 CPROJ_NO
			,TITLE
			,STARTDATE
			,ENDDATE
			,PRIVACY
			,NOTICE
			,NOTICE_CONT
			,UPDATEDATE
			,<include refid="statusForCollabo"/>
			,INTRO
			,DOC_CONT_NO
			,LIKE_COUNT
		FROM
			C_PROJECT
	</select>
	
	<select id="selectCollaboByCprojNo" resultType="com.probada.collabo.vo.CollaboVO" parameterType="String">
			SELECT
			    CPROJ_NO
			   ,TITLE
			   ,STARTDATE
			   ,ENDDATE
			   ,<include refid="privacyForCollabo"/>
			   ,NOTICE
			   ,NOTICE_CONT
			   ,UPDATEDATE
			   ,<include refid="statusForCollabo"/>
			   ,INTRO
			   ,DOC_CONT_NO
			   ,LIKE_COUNT
			FROM
			    C_PROJECT
			WHERE CPROJ_NO = #{cprojNo}    
	</select>
	
	<select id="selectCollaboTagList">
		DELETE FROM C_PROJECT
		      WHERE
    				CPROJ_NO = #{cprojNo}
		
	</select>
	
	<select id="updateCollaboDetail">
		UPDATE C_PROJECT 
		   SET 
		        TITLE = #{title}
		       ,PRIVACY = #{privacy}
		       ,STARTDATE = #{startdate}
		       ,ENDDATE = #{enddate} 
		       ,INTRO = #{intro} 
		  WHERE CPROJ_NO = #{cprojNo}   
	</select>
	
	<select id="updateCollaboNotice">
		UPDATE C_PROJECT
    	   SET
         	   NOTICE = #{notice}
        	  ,NOTICE_CONT = #{noticeCont}
        	  ,UPDATEDATE = SYSDATE
		WHERE CPROJ_NO = #{cprojNo}
	</select>
	
	<update id="registInviteCollaboMail">
		INSERT INTO MAIL (
			  MAIL_NO
			, TITLE
			, USER_TO
			, USER_FROM
			, CONTENT
			, REGDATE
			, STATUS
			, DIST
			, RECV_DEL
			, SENT_DEL
			
			) VALUES (
			
			  #{mailNo}
			, #{title}
			, #{userTo}
			, #{userFrom}
			, #{content}
			, SYSDATE
			, 'A801'
			, 'B901'
			, '1'
			, '1'
			)
	</update>
	
	<select id="selectCollaboMailSequenceNextValue" resultType="int">
		SELECT MAIL_SEQ.NEXTVAL AS MAIL_NO
		  FROM DUAL
	</select>
	
	<select id="selectProjectTitle" resultType="String" parameterType="String">
		SELECT TITLE
		  FROM USER_PROJECT A, PROJECT B
	     WHERE A.PROJ_NO = B.PROJ_NO
		   AND A.USER_ID = #{userId} 	
	</select>
	
	
	<sql id="statusForCollabo">
			(SELECT
				CODE_NAME
			FROM
				COMMON_CODE
            WHERE
            	COMMON_CODE.CODE_NO = C_PROJECT.STATUS) AS STATUS
	</sql>

	<sql id="privacyForCollabo">
			(SELECT
				CODE_NAME
			FROM
				COMMON_CODE
            WHERE
            	COMMON_CODE.CODE_NO = C_PROJECT.PRIVACY) AS PRIVACY
	</sql>
	


</mapper>