<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mybatis는 namespace가 필수다. -->
<!-- select문 안에는 주석도 text로 인식하기 때문에 주석쓰면 안된다 -->
	<mapper namespace="User-Mapper">


	<select id="selectUserById" resultType="User" parameterType="str">
		SELECT *
		FROM "USER"
		WHERE USER_ID=#{userId}
	</select>

	<!-- 로그인 -->
	<select id="login" parameterType="User" resultType="User">
		SELECT *
		FROM "USER"
		WHERE USER_ID = #{userId}
	</select>

	<!-- 계정 유무 체크 -->
	<select id="isAccount" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM "USER"
		WHERE USER_ID = #{userId}
	</select>


	<!-- 회원가입 -->
	 <update id="insertUser" parameterType="User" >
		INSERT INTO "USER" (
		USER_ID
		, PWD
		, NICKNAME
		, PICTURE
		, INTRO
		, REGDATE
		, AUTHKEY
		, PRIVACY
		, LIKE_COUNT
		, AUTHSTATUS
		,USER_UPLOAD_USAGE)
		VALUES(
		#{userId}
		, #{pwd}
		, #{nickname}
		, 'default.image'
		, 'intro'
		, SYSDATE
		, '0'
		, 'A201'
		, 0
		, 0
		, 0)
	</update>



	<update id="updateUser" parameterType="User">
		update "USER"
		set  user_id=#{userId}

			<if test="pwd != null">
				,pwd=#{pwd}
			</if>

			<if test="nickname != null">
				,nickname=#{nickname}
			</if>

			<if test="picture != null">
				,picture=#{picture}
			</if>

			<if test="intro != null">
				,intro=#{intro}
			</if>

			<if test="auth != null">
				,auth=#{auth}
			</if>

			<if test="privacy != null">
				,privacy=#{privacy}
			</if>

		where user_id=#{userId}

	</update>

	<!-- 생성된 메일 인증키 업데이트 -->
	<update id="createAuthkey" parameterType="Map">
		UPDATE "USER"
		SET
		AUTHKEY = #{authkey}
		WHERE USER_ID = #{userId}
	</update>

	<!-- authstatus 컬럼을 0 에서 1로 업데이트  구현되어있지 않은 상태-->
	<update id="updateAuthstatus">
		UPDATE "USER"
		SET
		AUTHSTATUS = 1
		WHERE USER_ID = #{email}
	</update>

	<select id="idCheck" parameterType="string" resultType="string">
		SELECT USER_ID
		FROM "USER"
		WHERE USER_ID = #{userId}
	</select>

	<select id="nicknameCheck" parameterType="string" resultType="string">
		SELECT NICKNAME
		FROM "USER"
		WHERE NICKNAME = #{nickname}
	</select>

	<update id="setUserUploadUsage" parameterType="User">
		UPDATE "USER"
		SET USER_UPLOAD_USAGE = #{userUploadUsage}
		WHERE USER_ID = #{userId}
	</update>


	<select id="selectUserByProjNo" resultType="User" parameterType="str">
		SELECT
    		*
		FROM
    		"USER" A
		JOIN
			USER_PROJECT B ON (A.USER_ID = B.USER_ID)
		WHERE
			PROJ_NO = #{projNo}
		ORDER BY
			B.JOINDATE ASC
	</select>

	<!-- seok -->
	<select id="pwdCheck" parameterType="User" resultType="int">
		select count(*) from "USER"
		where pwd = #{pwd}
         and USER_ID = #{userId}
	</select>
	
	<select id="getUserProjNoList" parameterType="String" resultType="String">
		SELECT PROJ_NO
		FROM USER_PROJECT
		WHERE USER_ID = #{userId}
	</select>



	<!-- <select id="selectMemberList" resultType="member">
		select
		*
		from
		member
		order by regDate desc
	</select>

	<select id="selectMemberListCount" resultType="int">
		select
		count(*)
		from
		member
		order by regDate desc
	</select>


	<sql id="search">
		<if test="searchType == 'i'.toString()">
			and id like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'p'.toString()">
			and phone like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'e'.toString()">
			and email like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'n'.toString()">
			and name like '%'||#{keyword}||'%'
		</if>
	</sql>


	<select id="selectSearchMemberList" resultType="member">
		select
		*
		from member
		where id is not null
		<include refid="search"/>
		order by regDate desc
	</select>


	<select id="selectSearchMemberListCount" resultType="int">
		select
		count(*)
		from member
		where id is not null
		<include refid="search"/>
	</select>


	<select id="selectMemberById" resultType="member" parameterType="str">
		select
		*
		from member
		where id = #{id}
	</select>

	<select id="selectMemberByPictureId" resultType="member" parameterType="str">
		select
		*
		from member
		where picture = #{picture}
	</select>





	<update id="insertMember" parameterType="member">
		insert into
		member (id, pwd, email, phone, picture, name, authority)
		values(#{id}, #{pwd}, #{email}, #{phone}, #{picture}, #{name}, #{authority})
	</update>


	<update id="updateMember" parameterType="member">
		update member
		set
		pwd=#{pwd},email=#{email},phone=#{phone},name=#{name},picture=#{picture}

		<if test="authority != null">
			,authority=#{authority}
		</if>

		where id=#{id}

	</update>


	<select id="selectMemberEnable" resultType="member" parameterType="str">
		select
		enabled
		from member
		where id = #{id}
	</select>


	<update id="deleteMember" parameterType="str">
		delete
		from member
		where id=#{id}
	</update>


	<update id="enabledMember">
		update member
		set enabled=#{enabled}
		where id=#{id}
	</update>
	 -->



</mapper>



